{% extends 'base.html.twig' %}
{% block body %}
    <body></body>
    {% block play %}
        {{ parent()}}
    {% endblock %}
    {% block navProfil %}
        {{ parent()}}
    {% endblock %}
{% endblock %}
