{% extends 'base.html.twig' %}
{% block body %}
    <button type="button">START</button>

    <form id="selection" method="POST" action="{{path('addPlayers')}}">
        {% for i in 0..3 %}
            <input class="{{ cycle(['c1','c2','c3','c4'],loop.index) }}"
                   type="text" 
                   name="{{ cycle(['j1','j2','j3','j4'],loop.index) }}" 
                   placeholder=" Email "/>
        {% endfor %}
        <input type="submit" value="Valider"/>
    </form>


{% endblock %}
